@media (max-width:750px) {
    .navbar{
        font-size: 9px;
    }
    .swipe-button{
        display: none;
    }
   
}
@media (min-width:750px) {
    .mobile{
        display: none;
        
    }

   
}